.logo{
    with: 100px;
    height: 100px;
}

.informacion_empresa{
    max-width: 10000px;
    margin: 40px;
    padding: 20px;
    text-align: center;
}

.datos_empresa{
    max-width: 10000px;
    margin: 40px;
    padding: 20px;
    text-align: center;
}

.equipo_desarrolladores{
    max-width: 800px;
    margin: 40px;
    padding: 20px;
    text-align: left;
}
