
.primer_titulo{
    font-family: 'Pacifico', cursive;
}

.informacion_empresa{
    max-width: 10000px;
    margin: 40px;
    background-color: #f8f9fa; 
    padding: 20px;
    text-align: center;
}

.segundo_titulo{
    font-family: 'Pacifico', cursive;
}

.datos_empresa{
    max-width: 10000px;
    margin: 40px;
    background-color: #f8f9fa; 
    padding: 20px;
    text-align: center;
}

.equipo_desarrolladores{
    max-width: 800px;
    margin: 40px;
    background-color: #f8f9fa; 
    padding: 20px;
    text-align: left;
}
