.logo {
    with: 100px;
    height: 100px;
}

.noticia-tarjeta {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #f8f9fa; 
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px; 
}

.noticia-texto {
    width: 65%; 
}

.img_torta {
    width: 30%; 
    height: auto;
    border-radius: 8px; 
    object-fit: cover;
}