.carrito{
  width: 25px;
  height: auto;

}



.logo{
  width: 75px;
  height: auto;
  padding: 5xp;

}



.Titulo_formulario {
  text-align: end ;

}



.card-body {
  text-align: end ;

}

.logo_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px; 
    margin-bottom: 30px; 
}

